###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=4b28be523164cfaaaddfda28cd80cf92
#TRUSTED_PROXIES=127.0.0.0/8,10.0.0.0/8,172.16.0.0/12,192.168.0.0/16
#TRUSTED_HOSTS='^(localhost|example\.com)$'
###< symfony/framework-bundle ###

###> PostgreSQL section ###
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
###< PostgreSQL section ###

DATABASE_URL=pgsql://epolka:epolka@postgres:5432/epolka
